body {
	margin: 0;
}
body div.header { 
	position: relative;
	width: 100%;
	margin: 10px;
}
body div.header h1 {
	font-size: 40px;
    display: inline-block;
    margin: 0;
}
body div.header img {
	height: 180px;
    float: left;
    margin-right: 20px;
}
body div.desc {
	display: block;
    top: 200px;
	font-family: Georgia, serif;
}
body div.desc p {
	line-height: 1;
	margin-top: 0;
}
body div.desc p:nth-child(1) { /* position */
	font-size: 20px;
	margin-bottom: 15px;
}
body div.desc p:nth-child(2) { /* company */
	font-size: 24px;
	margin-bottom: 0;
}
body div.desc p:nth-child(3) { /* team */
	font-size: 16px;
}
body div.desc address a {
	font-style: normal;
    font-size: 16px;
}